@page
@model PrivacyModel
@{
    ViewData["Title"] = "About Us";
}
<section id="what-we-do">
	<div class="container-fluid">
		<h2 class="section-title text-center mb-2 h1">About GoFruity</h2>
		<p class="text-center text-muted h5">Here at GoFruity we believe that the customers satisfaction is primordial.</p>
		<div class="row mt-5">
			<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 col-xl-4">
				<div class="card">
					<div class="card-block block-1">
						<h3 class="card-title">Our Staff</h3>
						<p class="card-text">We have a total staff count of 44 workers not inclusive of farmers.So feel free to contact us for any problems or support.</p>
						
					</div>
				</div>
			</div>
			<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 col-xl-4">
				<div class="card">
					<div class="card-block block-2">
						<h3 class="card-title">Carbon Free</h3>
						<p class="card-text">We work with other companies to ensure minimal waste to increase the quality of life for the environment.</p>
						
					</div>
				</div>
			</div>
			<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 col-xl-4">
				<div class="card">
					<div class="card-block block-3">
						<h3 class="card-title">Foundation</h3>
						<p class="card-text">We started off as a small company with less than 5 people but slowly as the customers started believing in us ,we scaled up ,this was back in 2022</p>
						
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 col-xl-4">
				<div class="card">
					<div class="card-block block-4">
						<h3 class="card-title">Contact Us</h3>
						<p class="card-text">Find us on Email at support@GoFruity.com</p>
						<p class="card-text">Find us on Tel: +1 362 727</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>


