@page
@model IndexModel
@using System.Data.SqlClient;
@{
    ViewData["Title"] = "Home page";
    var coookie = Request.Cookies["role"];
    if (coookie != null && coookie.Length > 0)
    {
        if (coookie == "0")
        {
            Response.Redirect("/Dashboard");
        }
    }

    Config config = new Config();
    SqlConnection conn = new SqlConnection(config.dbConnection);
    string fruit = Request.Query["p"];
    string query;
    if(fruit == null)
    {
        query = $"select * from fruits";
    }
    else
    {
         query = $"select * from fruits where name = '{fruit}'";
    }

   
}


<div class="container-fluid py-4">
    <div class="row mt-auto">
    @{
        conn.Open();
        SqlCommand cmd = new SqlCommand(query, conn);
        SqlDataReader rdr = cmd.ExecuteReader();
        @if(!rdr.HasRows)
        {
            <div class="alert alert-danger">No fruits available at the moment!.Try again later.</div>
        }
        else
        {
            @while (rdr.Read())
            {

                    <div class="col-lg-4 col-md-6 mt-4 mb-4">
                    <a asp-page="/Product" asp-area="@rdr["id"]">
                        <div class="card z-index-2  ">
                            <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2 bg-transparent">
                                <div class="bg-gradient-success shadow-success border-radius-lg py-3 pe-1">
                                    <div class ="text-center">
                                        <img src="~/img/@{@rdr["image"]}" width="315" height="215">
                                    </div>
                                </div>
                            </div>
                            <div class="card-body">
                                <h6 class="mb-0 "> @rdr["name"] </h6>
                                <p class="text-sm ">@rdr["description"] </p>
                                <hr class="dark horizontal">
                                <div class="d-flex ">
                                    <i class="material-icons text-sm my-auto me-1">attach_money</i>
                                    <p class="mb-0 text-sm"> @rdr["price"]</p>
                                </div>
                            </div>
                        </div>
                    </a>
                    </div>
                
            }
        }
    }
    </div><br /><br />
</div>
